@use './scss/variable' as v;
@use './scss/footer';
@use './scss/header';
@use './scss/card';
@use './scss/comparebar';
@use './scss/search';
@use './scss/dark';
@use './scss/breadcrumb';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0 15px;
  background: #f6f8fa;
  color: #333;
}

.App {
  max-width: v.$containerWidth;
  margin: 0 auto;

  p {
    text-align: center;
  }

  >h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 100;
    color: v.$theme-primary;

    body.dark & {
      color: v.$primary-color;
    }

    span {
      font-size: 0.8rem;
      color: v.$theme-primary;

      body.dark & {
        color: v.$primary-color;
      }
    }
  }

}