$containerWidth: 1200px;

$theme-primary: #007bff;
$theme-primary-dark: #46484b;
$theme-secondary-dark: #1f1f1f;

$primary-color: #eee;
$secondary-color: #fff;

$background-primary-color: #333300;
$border-primary-color: #333;